@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.burger-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 30px;
  overflow: auto;
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.burger-menu.slide-out {
  animation: slideOutToLeft 0.3s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #333;
  padding: 10px;
  width: 100%;
  animation: slideDown 0.3s ease-out forwards;
}

.dropdown-content.hide {
  animation: slideUp 0.3s ease-out forwards;
}

.dropdown.open .dropdown-content {
  display: block;
}
