.footer-container {
  background-color: #f3f3e0;
  height: 220px;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;

  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.footer-top {
  color: #373A40;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.20px;
  margin-top: 11px;
}

.contact-footer {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-button-footer {
  color: #373A40;
  font-family: "Montserrat", serif;
  font-size: 20px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.80px;
  margin-right: 40px;
}


.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.fb-button, .insta-button, .twitter-button, .youtube-button {
  width: 36px;
  cursor: pointer;
}

.social-png {
  width: 100%;
  height: 100%;
}

.footer-info {
  color: #373A40;
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1.20px;
  text-align: center;
  align-content: center;
  justify-self: center;
 
}