.head-container {
  display: flex;
  height: 135px;
  background-image: url(PHILIKULAPHOTOS/background-header.png);
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 20px;
  width: 100%;
}

.logo-container {
  position: relative;
  margin-top: -15px;
}

.logo {
  font-family: 'Inknut Antiqua', Helvetica;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 20px;
  margin-top: -20px;
}

.genres-button, .movies-button, .about-button, .contact-button, .home-button {
  color: #f3f3e0;
  cursor: pointer;
  font-family: 'Inter', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-top: 40px;
}

.home-button {
  margin-right: 30px;
}

.ph {
  color: #4f75ff;
}

.il {
  color: #c7253e;
}

.ikula {
  color: #fabc3f;
}

.logo-pic {
  position: absolute;
  top: 3px; 
  left: 90%;
  transform: translateX(-50%);
  width: 44px;
}

.logo-icon {
  width: 100%;
}

.head-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-right: 30px;
  padding-bottom: 55px;
}

.contact-button {
  white-space: nowrap;
}

.head-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.top-title {
  color: #f3f3e0;
  font-family: "Zen Tokyo Zoo";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 10.92px;
  line-height: 60px;
  white-space: nowrap;
  letter-spacing: 3.60px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
}

.top-title-info {
  color: #f3f3e0;
  font-family:"Inclusive Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 1.60px;
  line-height: 16px;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 120px;
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content a {
  color: #F3F3E0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Inter', Helvetica;
}

.dropdown-content a:hover {
  background-color: #323232;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-right: 30px;
  padding-bottom: 55px;
}

.head-right .burger {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.burger {
  display: none;
}

.head-right .dropdown .dropdown-content {
  position: absolute;
  z-index: 1;
}

.head-right .burger {
  display: none;
  cursor: pointer;
  z-index: 9999; 
}

.burger-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
}


.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@import url('animation.css');