/* other styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.body {
  height: 2000px;
}

.main-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
}

/* header styles */
.head-container {
  display: flex;
  height: 135px;
  background-image: url(/PHILIKULAPHOTOS/background-header.png);
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 20px;
  width: 100%;
}

.logo-container {
  position: relative;
  margin-top: -15px;
}

.logo {
  font-family: "Inknut Antiqua", Helvetica;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: normal;
  margin-right: 20px;
  margin-top: -20px;
}

.genres-button,
.movies-button,
.about-button,
.contact-button,
.home-button {
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-top: 40px;
}

.home-button {
  margin-right: 30px;
}

.ph {
  color: #4f75ff;
}

.il {
  color: #c7253e;
}

.ikula {
  color: #fabc3f;
}

.logo-pic {
  position: absolute;
  top: 3px;
  left: 90%;
  transform: translateX(-50%);
  width: 44px;
}

.logo-icon {
  width: 100%;
}

.head-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-right: 30px;
  padding-bottom: 55px;
}

.contact-button {
  white-space: nowrap;
}

.head-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.top-title {
  color: #f3f3e0;
  font-family: "Zen Tokyo Zoo";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 10.92px;
  line-height: 60px;
  white-space: nowrap;
  letter-spacing: 3.6px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
}

.top-title-info {
  color: #f3f3e0;
  font-family: "Inclusive Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 1.6px;
  line-height: 16px;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 120px;
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content a {
  color: #f3f3e0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Inter", Helvetica;
}

.dropdown-content a:hover {
  background-color: #323232;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-right: 30px;
  padding-bottom: 55px;
}

.head-right .burger {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.burger {
  display: none;
}

.head-right .dropdown .dropdown-content {
  position: absolute;
  z-index: 1;
}

.head-right .burger {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* featured movies */
.body-with-arrow-container {
  display: flex;
  background-color: black;
  justify-content: center;
  width: 100%;
}

.body-container {
  background-size: contain;
  background-position: center;
  border-radius: 25px;
  height: 600px;
  width: 100%;
  max-width: 1258px;
  margin-bottom: 30px;
  margin-left: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 45px;
  max-height: 100%;
  transition: background-image 1s ease-in-out;
}

.body-top {
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 10px;
  font-weight: 400;
  color: #f3f3e0;
}

.body-middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-height: 360px;
  margin-top: 10px;
}

.body-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 100px;
  width: 700px;
}

.body-movie-name {
  font-family: "Amaranth", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  width: 200px;
  white-space: nowrap;
  text-align: center;
  color: #f3f3e0;
  font-size: 64px;
}

.body-starring {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #f3f3e0;
  font-size: 20px;
  line-height: 50px;
  white-space: nowrap;
}

.arrow {
  background-image: url(https://cdn.animaapp.com/projects/67286810cc53dd0295da653f/releases/67286b37c2c4dc7b073e55ef/img/chevron-right@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-top: 340px;
  margin-right: 14px;
  margin-left: 85px;
}

.prev-arrow {
  background-image: url(https://cdn.animaapp.com/projects/67286810cc53dd0295da653f/releases/67286b37c2c4dc7b073e55ef/img/chevron-right@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-top: 340px;
  transform: scaleX(-1);
  margin-right: 1150px;
  margin-left: -1300px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.body-genre {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #f3f3e0;
  font-size: 20px;
  line-height: 50px;
}

.body-ratings {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #f3f3e0;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  gap: 40px;
}

.history-container,
.drama-container {
  align-items: center;
  border: 1.5px solid;
  border-color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  padding: 0px 12px;
  height: 30px;
}

.history-text,
.drama-text {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: normal;
}

.body-overview {
  width: 530px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #f3f3e0;
  font-size: 20px;
  text-align: justify;
  font-style: italic;
  height: 133px;
}

.body-overview strong {
  font-weight: bolder;
  font-size: 24px;
  font-style: normal;
}

.body-bottom {
  width: 600px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8px;
  padding-bottom: 15px;
  margin-top: 70px;
}

.tuldok-current {
  background-color: #d9d9d9;
  border-radius: 6px;
  height: 10px;
  width: 10px;
  transform: scale(1.2);
  transition: background-color 0.6s ease, transform 0.6s ease;
}

.tuldok-normal {
  background-color: #d9d9d980;
  border-radius: 6px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  transition: background-color 0.6s ease, transform 0.6s ease;
}

.read-review-text {
  background-color: #4f75ff;
  border-radius: 50px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: normal;
  padding: 10px 20px;
  width: 290px;
  height: 40px;
  margin-left: 40px;
  margin-top: 25px;
  text-decoration: none;
}

.explore-movies {
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter", Helvetica;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #f3f3e0;
  font-size: 20px;
  letter-spacing: 0;
  white-space: nowrap;
  margin-top: 15px;
}

.main-next-pic {
  gap: 20px;
}

.corner-images {
  bottom: 10px;
  right: 10px;
  display: flex;
  overflow: hidden;
  z-index: 2;
  margin-left: 40px;
}

.next-pic {
  margin-right: 105px;
  margin-left: 100px;
}

.corner-images .main-next-pic {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.corner-images img {
  cursor: pointer;
  width: 230px;
  height: 351px;
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid #f3f3e0;
  flex-shrink: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* recommended movies choices */
.recommended-movies {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  background-color: #1b1b1b;
  justify-content: center;
  max-width: 1350px;
  padding-bottom: 90px;
}

.recommended-movies-text {
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #f3f3e0;
  font-size: 30px;
  letter-spacing: 8px;
  line-height: normal;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3e0;
  height: 330px;
  width: 208px;
  border-radius: 10px;
  text-decoration: none;
}

.first-three-choices,
.middle-three-choices,
.last-three-choices {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-top: 40px;
  margin-left: 140px;
  gap: 40px;
}

.choice-pic {
  height: 272px;
  width: 187px;
  object-fit: cover;
  border: 2.2px solid black;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.read-review-button {
  padding: 6px 20px;
  background-color: #b8001f;
  border-radius: 50px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: normal;
  margin-top: -15px;
  margin-bottom: 6px;
}

.title-choice {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
}

#one-small-font,
#two-small-font,
#three-small-font {
  font-size: 90%;
}

/* footer style */
.footer-container {
  background-color: #f3f3e0;
  height: 220px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 16px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.footer-top {
  color: black;
  font-family: "Montserrat", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-top: 11px;
}

.contact-footer {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-button-footer {
  color: black;
  font-family: "Montserrat", serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.8px;
  margin-right: 40px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.fb-button,
.insta-button,
.twitter-button,
.youtube-button {
  width: 36px;
  cursor: pointer;
}

.social-png {
  width: 100%;
  height: 100%;
}

.footer-info {
  color: black;
  font-family: "Montserrat", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: center;
}

/* animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prev-arrow.fade-in {
  opacity: 1;
}

.prev-arrow.fade-out {
  opacity: 0;
}

.body-container.fade {
  opacity: 0;
}

.corner-images img.large {
  transform: scale(1);
  opacity: 1;
}

.corner-images img.small {
  transform: scale(0.8);
  opacity: 0.7;
}

.corner-images img.fade-out {
  opacity: 0;
}

.corner-images img.fade-in {
  opacity: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.burger-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 30px;
  overflow: auto;
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.burger-menu.slide-out {
  animation: slideOutToLeft 0.3s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #333;
  padding: 10px;
  width: 100%;
  animation: slideDown 0.3s ease-out forwards;
}

.dropdown-content.hide {
  animation: slideUp 0.3s ease-out forwards;
}

.dropdown.open .dropdown-content {
  display: block;
}
