.body-container > .movie-choice:nth-child(1) { order: 30; }
.body-container > .movie-choice:nth-child(2) { order: 29; }
.body-container > .movie-choice:nth-child(3) { order: 28; }
.body-container > .movie-choice:nth-child(4) { order: 27; }
.body-container > .movie-choice:nth-child(5) { order: 26; }
.body-container > .movie-choice:nth-child(6) { order: 25; }
.body-container > .movie-choice:nth-child(7) { order: 24; }
.body-container > .movie-choice:nth-child(8) { order: 23; }
.body-container > .movie-choice:nth-child(9) { order: 22; }
.body-container > .movie-choice:nth-child(10) { order: 21; }
.body-container > .movie-choice:nth-child(11) { order: 20; }
.body-container > .movie-choice:nth-child(12) { order: 19; }
.body-container > .movie-choice:nth-child(13) { order: 18; }
.body-container > .movie-choice:nth-child(14) { order: 17; }
.body-container > .movie-choice:nth-child(15) { order: 16; }
.body-container > .movie-choice:nth-child(16) { order: 15; }
.body-container > .movie-choice:nth-child(17) { order: 14; }
.body-container > .movie-choice:nth-child(18) { order: 13; }
.body-container > .movie-choice:nth-child(19) { order: 12; }
.body-container > .movie-choice:nth-child(20) { order: 11; }
.body-container > .movie-choice:nth-child(21) { order: 10; }
.body-container > .movie-choice:nth-child(22) { order: 9; }
.body-container > .movie-choice:nth-child(23) { order: 8; }
.body-container > .movie-choice:nth-child(24) { order: 7; }
.body-container > .movie-choice:nth-child(25) { order: 6; }
.body-container > .movie-choice:nth-child(26) { order: 5; }
.body-container > .movie-choice:nth-child(27) { order: 4; }
.body-container > .movie-choice:nth-child(28) { order: 3; }
.body-container > .movie-choice:nth-child(29) { order: 2; }
.body-container > .movie-choice:nth-child(30) { order: 1; }
