* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: auto;
}

.body {
  height: 2000px;
}

.main-container {
  background-color: #1b1b1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
}
