:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}

/* movie details */
.content-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.movie-title {
  font-family: Amaranth, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #b8001f;
}

.reds {
  color: #b8001f;
}
.poster-container {
  width: 328px;
  height: 493px;
}
.poster {
  background: no-repeat;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.movie-details {
  width: 828px;
  text-align: justify;
}
.other-details1 {
  padding-top: 20px;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #f3f3e0;
}
.other-details {
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #f3f3e0;
}

.span-details {
  font-family: Montserrat, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #f3f3e0;
}

/* experiment trailer overlay */
.watch-trailer-btn {
  margin-top: 20px;
  padding: 10px 50px;
  background-color: #b8001f;
  color: #f3f3e0;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.watch-trailer-btn:hover {
  background-color: #810218;
  color: #d3d3be;
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: black;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  animation: slide-in 0.4s ease-out;
}

.modal-content iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
}

@keyframes slide-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* experiment trailer overlay ends here*/

/* critics and reviews na */
/* top critics */
.criticAndrevs-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;

  flex-direction: column;
}
.top-crit {
  color: #f3f3e0;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.line1 {
  background-color: #4f75ff;
  width: 13%;
  height: 6px;
  border-radius: 50px;
  margin-bottom: 40px;
  position: absolute;
  bottom: -13rem;
  left: 23.5rem;
}
.critic-content-container {
  background-color: #f3f3e0;
  display: flex;
  padding: 50px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  gap: 20px;
}

.critic-left-side {
  width: 350px;
}
.critic-right-side {
  flex: 1;
}
.name {
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.company {
  color: #b3b3b3;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.ebas {
  color: #000000;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: justify;
}

.star-rating {
  padding-top: 5px;
  width: 50%;
  height: auto;
}

.fullrevs {
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.link-revs {
  color: #1877f2;
}

/* experiment for tab swutching */

/* AUDIENCE REVS NA TIO */
.line2 {
  background-color: #4f75ff;
  width: 27%;
  height: 6px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.audience-rev {
  margin-top: 100px;
  color: #f3f3e0;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.stars {
  color: orange;
  font-size: 30px;
}

/* experiment tabs wtuch */
.reviews-tabs {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.tab-button {
  padding: 10px 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: #0000;
  color: #f3f3e0;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50px;
}

.tab-button:hover {
  background-color: #f3f3e0;
  color: #000000;
  transition: 0.3s;
}

.tab-button.active {
  background-color: #000000;
  color: #f3f3e0;
  border: 1px solid #f3f3e0;
}

/* Reviews content section */
.reviews-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.tab-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in, transform 0.5s ease;
  width: 90%;
  height: auto;
  pointer-events: none;
  /* transform: translateY(30px); */
}

.tab-content.active {
  visibility: visible;
  position: relative;
  pointer-events: auto;
}
.tab-content.fade {
  opacity: 1;
  transform: translateY(0);
}

/* ivan orig */

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .tab-content {
    width: 95%;
  }
  .head-right .dropdown,
  .head-right .about-button,
  .head-right .contact-button,
  .head-right .home-button {
    display: none;
  }
  .head-right .burger {
    display: block;
    font-size: 42px;
    transform: translate(-420px, 11px);
  }
  .burger-menu {
    display: none;
  }
  .head-container {
    height: 100px;
  }
  .head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .genres-button,
  .movies-button,
  .about-button,
  .contact-button,
  .home-button {
    transform: translate(-9px, 25px);
  }

  .dropdown-content {
    margin-top: 35px;
    margin-bottom: -50px;
    width: 100%;
    border-radius: 10px;
  }

  .logo {
    font-size: 44px;
    margin-top: -45px;
    margin-left: 58px;
  }

  .logo-pic {
    width: 35px;
    transform: translate(-14px, -29px);
  }

  .head-bottom {
    transform: translate(-420px, 17px);
  }

  .top-title {
    font-size: 17px;
    line-height: 15px;
  }

  .top-title-info {
    font-size: 10px;
    margin-right: 6px;
  }

  .footer-container {
    height: 300px;
  }

  .footer-top {
    margin-top: 10px;
    width: 360px;
    font-size: 12px;
    text-align: center;
  }

  .footer-info {
    width: 360px;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .contact-footer {
    flex-direction: column;
    align-items: center;
  }

  .contact-button-footer {
    margin-left: 46px;
    text-wrap: nowrap;
    font-size: 29px;
    margin-top: 10px;
    padding: 0;
  }

  .fb-button,
  .insta-button,
  .twitter-button,
  .youtube-button {
    width: 33px;
  }

  .social-media {
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .recommended-movies {
    border-radius: 0;
    height: 2395px;
    margin-top: -25px;
  }

  .recommended-movies-text {
    text-wrap: nowrap;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 305px;
  }

  .choice {
    height: 268px;
    width: 160px;
  }

  .first-three-choices,
  .middle-three-choices,
  .last-three-choices {
    gap: 0px;
    margin-left: 20px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0px;
  }

  .first-three-choices {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .last-three-choices {
    transform: translate(0px, -268px);
  }

  .choice-pic {
    height: 216px;
    width: 149px;
  }

  .read-review-button {
    padding: 6px 14px;
  }

  #tenth-choice {
    transform: translate(180px, -865px);
  }

  .body-with-arrow-container {
    width: 95%;
    margin-right: 30px;
  }

  .body-container {
    padding-left: 15px;
    align-items: start;
    background-size: auto;
    border-radius: 25px;
    height: 560px;
    margin-left: 15px;
  }

  .body-top {
    font-size: 21px;
    margin-bottom: 70px;
    margin-top: -10px;
    margin-left: 0px;
  }

  .body-middle {
    width: 100%;
    margin-top: 0px;
  }

  .body-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 0px;
    width: 600px;
    margin-top: -10px;
  }

  .body-movie-name {
    width: 178px;
    white-space: nowrap;
    font-size: 32px;
  }

  .body-starring {
    display: none;
  }

  .arrow {
    opacity: 0;
  }

  .prev-arrow {
    opacity: 0;
  }

  .body-genre {
    display: none;
  }

  .body-ratings {
    display: none;
  }

  .body-overview {
    width: 180px;
    font-size: 14px;
    text-align: justify;
    height: 230px;
  }

  .read-review-text {
    font-size: 15px;
    text-align: center;
    padding: 8px 16px;
    width: 193px;
    height: 32px;
    margin-left: 0px;
  }

  .explore-movies {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .body-bottom {
    transform: translate(-150px, 0px);
    margin-bottom: 20px;
    margin-top: 45px;
  }
  .corner-images {
    width: 900px;
  }

  .corner-images img {
    width: 135px;
    height: 214px;
  }

  .main-pic {
    margin-right: 120px;
  }

  .next-pic {
    margin-right: 210px;
  }

  .corner-images {
    transform: translate(-40px, -10px);
    overflow: visible;
  }

  .main-next-pic {
    gap: 0px;
    width: 900px;
  }
  /* Adjust font sizes for readability 1*/
  .movie-title {
    font-size: 28px;
    line-height: 36px;
  }
  /* 3 */
  .other-details1,
  .other-details,
  .span-details {
    font-size: 16px;
    line-height: 22px;
  }

  /* Adjust content container for mobile screens 2*/
  .content-container {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  /* 4 */
  .content {
    gap: 20px;
    flex-direction: column;
  }

  /* Adjust poster size 4*/
  .poster-container {
    width: 100%;
    height: auto;
  }
  /* 5 */
  .poster {
    border-radius: 15px;
    height: auto;
    object-fit: cover;
  }
  /* 6 */
  .movie-details {
    width: 100%;
  }
  /* 7 */
  /* Adjust buttons */
  .watch-trailer-btn {
    padding: 8px 30px;
    font-size: 18px;
    width: 100%;
  }

  /* Modal adjustments8 */
  .modal-content {
    width: 90%;
    max-width: 600px;
  }
  /* 9 */
  .modal-content iframe {
    height: 250px;
  }
  /* 10 */
  .close-btn {
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  /* Critic section adjustments 11*/
  .criticAndrevs-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  /* 12 */
  .critic-content-container {
    padding: 20px;
    flex-direction: column;
  }
  /* 13 */
  .critic-left-side {
    width: 100%;
  }
  /* 14 */
  .critic-right-side {
    width: 100%;
  }

  /* Adjust tabs15 */
  .reviews-tabs {
    /* flex-direction: column; */
    align-items: center;
  }
  /* 16 */
  .tab-button {
    padding: 10px 24px;
    font-size: 16px;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
  }
  /* 17 */
  .tab-critics-tab {
    font-size: 26px;
  }

  /* Reviews content adjustments 18*/
  .reviews-content {
    /* padding: 10px; */
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .ebas {
    font-size: 18px;
  }
  .name {
    font-size: 18px;
  }
  .company {
    font-size: 18px;
  }
  .star-rating {
    width: 40%;
  }
  .fullrevs {
    font-size: 18px;
  }

  /* .head-right{
      overflow-x: hidden;
    }
     */
}

/* ==============start======================== */

/* 
  @media (maax-width: 1200px){
    .head-right{
      overflow: hidden;
    }
    .content-container, .movie-title, .other-details1, .other-details{
      overflow: hidden;
    }
    i {
      overflow: hidden;
    }
    .top-title, .top-title-info{
      overflow: hidden;
    }
  } */

/* exit muna dito try kay ivan */

/* ==============ends--------- */
